html {
    height: 100%;
}

body {
    margin: 0;
    background-color: rgb(230, 241, 248);
    height: 100%;
    /* background-color: whitesmoke; */
}

main {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0 10%;
}

.title {
    font-size: 50px;
    font-weight: 700;
    font-variant: small-caps;
    -webkit-text-stroke: 2px rgba(60, 50, 50, 0.9);
    color: rgb(213, 224, 231);
    /* font-family: 'Kalam'; */

    margin: 0 30px;
    text-align: right;
    letter-spacing: 20px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(12, 50px);
    gap: 10px;
    flex: 1;
}

.menu-grid a {
    text-decoration: none;
}

.menu-element {
    position: relative;
    color: rgba(60, 50, 50, 0.9);
}

.title-div {
    background-color: rgba(230, 230, 230, 0.8);
    position: relative;
    display: flex;
    align-items: end;
    height: 100%;
    width: max-content;
}

.title-div-oriz {
    background-color: rgba(230, 230, 230, 0.8);
    position: absolute;
    width: 100%;
    height: max-content;
    bottom: 0px;
}

.vertical-words {
    text-align: center;
    margin: 5px;
}

.orizontal-words {
    text-align: left;
    margin: 5px;
    letter-spacing: 4px;
}

                    /* GRID ELEMENTS */

.element-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 11;
    background-color: lightslategray;

    background-image: url(../../images/george-the-ring.jpg);
    background-size: cover;
    background-position: center;
}

.element-2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
    background-color: lightseagreen;
}

.element-3 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 7;
    background-color: lightgreen;
}

.element-4 {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 11;
    background-color: lightsalmon;

    background-image: url(../../images/victorian-age-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.element-5 {
    grid-column-start: 10;
    grid-column-end: 14;
    grid-row-start: 7;
    grid-row-end: 12;
    background-color: lightgoldenrodyellow;
}

.element-6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 15;
    background-color: lightpink;
}

.element-7 {
    grid-column-start: 10;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: lightskyblue;
}

.menu-element:hover {
    position: relative;
    right: 10%;
    width: 120%;
    /* border: 5px solid lightgray; */
    /* box-shadow: 8px 5px rgb(179, 205, 214); */
    box-shadow: 7px 5px rgba(191, 200, 206, 0.8);
    cursor: pointer;
    z-index: 100;
}
