@media only screen and (max-width: 500px) {
    main {
        height: 100%;
        flex-direction: column;    
        margin: 0 3%;
    }
    
    .title {
        font-size: 40px;
        margin: 0 0;
        letter-spacing: 10px;
        text-align: left;
    }
    
    h1 {
        margin-bottom: 0px;
    }

    h2 {
        margin: 0;
    }
    
    .menu-grid {
        width: 100%;
    }


                    /* GRID ELEMENTS */

    .element-6 {
        grid-column-start: 3;
    }
}